extends base.pug

block content
    div.upload__container
        div.upload__video
            video#preview
            button#actionBtn Start Recording
    if(errorMessage)
        span=errorMessage
    form(method="POST", enctype="multipart/form-data")
        label(for="video") Video
        input(type="file", id="video", name="video", accept="video/*")
        label(for="thumb") Thumbnail file
        input(type="file", id="thumb", name="thumb", accept="image/*")
        input(name="title" placeholder="Video Title" type=text required maxlength=30)
        input(name="description" placeholder="Description" type=text required minlength=20)
        input(name="hashtags" placeholder="Hashtags. separated by comma" type=text required)
        input(value="Upload Video" type="submit")

block scripts 
    script(src="/static/js/recorder.js")