extends base.pug

block content
    div 
        video#preview
        button#startBtn Recording
    if(errorMessage)
        span=errorMessage
    form(method="POST", enctype="multipart/form-data")
        label(for="video") Video
        input(type="file", id="video", name="video", accept="video/*")
        input(name="title" placeholder="Video Title" type=text required maxlength=30)
        input(name="description" placeholder="Description" type=text required minlength=20)
        input(name="hashtags" placeholder="Hashtags. separated by comma" type=text required)
        input(value="Upload Video" type="submit")

block scripts 
    script(src="/static/js/recorder.js")