extends base.pug

block content
    h4 Upload new video
    form(method="POST")
        input(name="title" placeholder="Video Title" type=text required)
        input(name="description" placeholder="Description" type=text required)
        input(name="hashtags" placeholder="Hashtags. separated by comma" type=text required)
        input(value="Upload Video" type="submit")